:root{
    --vermelho: #E50914;
    --preto: #141414;


}
    

/* O asterisco "*" abaixo se refere a todo o documento que está sendo redenrizado */
*{  
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* elementos base*/
body{
    background: var(--preto);
    font-family: 'arial', Times, serif;
    color: white;
}



header .container{
     /* border: 1px solid black; "caixa para visualiar onde estou editando */ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-block-end: auto;

    
    }

  header .logo{
    margin-left:  5px;
        margin: 10px;
        left: 30px;
        top: 30px;
        width: 150px;
    }
/*
    .logo{
        margin-left:  5px;
        color: var(--vermelho);
        font-family: 'Arial Black', Times;
        font-size: 40px;

    }
*/
 header .entrar{
    width: 120px;
    padding: 9px;
    border: none;
    color: #fff;
    background: #E90616;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer; /* mudar a imagem do mouse para o dedinho quando passar pelo botão */  
    transition: filter 0.5s; /* mudar um pouco a cor quando passar o mouse */ 
 }

    header nav a{
        text-decoration: none;
        color: #AAA;
        margin-right: 10px;
    }

    Header nav a:hover{
        color: #fff;
    }

/* Filme principal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-bahea.jpg');

    height: 1150px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 80px;
    margin-bottom: 50px;
    
    
}

.titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
 
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}